@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Source Code Pro', monospace;  
}



body {
    background: linear-gradient(0.25turn, #777eca, #4d01a3);
    height: auto;
    width: auto;
}

canvas {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

header {
    position: relative;
    z-index: 2;
    float: none;
    width: auto;
    height: 100px;
    padding : 30px;
    display: flex;
}

#title-main {
  height: 100px;
  padding: 200px;
  align-items: center;
}

#header-b {
    float: none;
    margin: auto;
    text-decoration: none;
    color : #c3c7f1;
    transition: background-color 0.3s ease;
}

#header-b:hover {
  color : #08ecb3;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
}
